h1,h2,h3,h4{
	font-family: 'Mirza', cursive;

}

p,label{
	font-family: 'Roboto', sans-serif;

}



#about-us{
	max-width: 100%;
	padding-top: 50px;
}



/*Team -section*/
 #team-section h4{
	text-shadow: 0px -1px 1px rgba(76, 78, 115, 1);
}
.member-img img{
	padding-top: 10px;
	width: 50%;

}
.team-profile{
	background: #e0eafc;

}
.member-social {
	background: #EECDA3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.member-social .fa{
	color: white;
	padding: 20px 5px;
	font-size: 20px;
}

.member-social .fa:hover {
	color: #5f98f4;
}

.team-data {
	padding-top: 20px;
	padding-bottom: 20px;
}
/*Team media queries*/
@media (max-width: 768px){
	.team-data .col-xs-6 {
		width: 50%;
		padding-top : 10px;
	}
}

/*Services*/

.my-services {
	margin-top: 50px;
}


.service {
	margin-top: 20px;
}

@media (max-width: 768px){
	.img-responsive {
		width: 60% !important;


	}
}

@media (max-width: 320px){
	.my-services img{
		display: none !important;

	}
	.my-services{
		text-align: center;
	}
}
